html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.section-header {
  width: 100%;
  min-height: 107px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.section-header h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  color: #17213C;
}
.section-header h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #17213C;
}
.section-header p {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}

.page-section-header {
  width: 100%;
  min-height: 107px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 45px 0;
}
.page-section-header h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  color: #17213C;
}
.page-section-header h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #17213C;
}
.page-section-header p {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}

body {
  font-family: "Montserrat";
  font-style: normal;
  color: #252B42;
  height: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.header {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 105px;
}
@media (max-width: 479px) {
  .header__container {
    min-height: 75px;
  }
}

.logo {
  font-weight: 700;
  font-size: 24px;
}

.nav {
  padding: 0 5px;
}
.nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 0 0 130px;
}
.nav__item {
  display: block;
  margin-right: 20px;
}
.nav__link {
  color: #737373;
  line-height: 171.4285714286%;
  font-weight: 600;
  font-size: 14px;
}

@media (max-width: 992px) {
  .nav__list {
    margin: 0 0 0 90px;
  }
}
@media (max-width: 767px) {
  .nav__list {
    margin: 0 0 0 40px;
  }
}
@media (max-width: 479px) {
  .nav__link {
    font-size: 18px;
  }
}
.main {
  position: relative;
  flex: 1 1 auto;
}

.home {
  position: relative;
  width: 100%;
}
.home__body {
  z-index: 20;
  padding: 185px 15px 191px 15px;
}
.home__content {
  max-width: 509px;
}
.home__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
}
.home__text-block {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 40px 0;
  color: #737373;
  width: 376px;
}
.home__buttons {
  width: 370px;
  display: flex;
  flex-direction: row;
}
.home__button {
  padding: 10px 36px;
  border-radius: 37px;
  /* btn-text */
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  /* identical to box height, or 200% */
  text-align: center;
  letter-spacing: 0.2px;
  /* light-text-color */
  color: #FFFFFF;
  background-color: #FF7B47;
}
.home__button--border {
  color: #0D5C63;
  border: solid 1px #0D5C63;
  background: none;
  margin-left: 15px;
}
.home__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (max-width: 730px) {
  .home__content {
    width: 100%;
  }
}
@media (max-width: 420px) {
  .home__title {
    font-size: 40px;
    line-height: 1.1;
  }
  .home__buttons {
    flex-direction: column;
    box-sizing: content-box;
    width: 100%;
  }
  .home__button--border {
    margin: 30px 0 0 0;
  }
}
.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: -111px 0 80px 0;
}

.card {
  flex: 0 1 33.3333333333%;
  background-color: #fff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  z-index: 2;
  margin: 0 30px 0 0;
}
.card:last-child {
  margin: 0;
}
.card__inner {
  margin: 35px 40px;
  display: flex;
  flex-direction: column;
}
.card__icon {
  font-size: 40px;
}
.card__title {
  margin: 10px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.card__subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}
.card--dark {
  background-color: #0D5C63;
  color: #fff;
}
.card__subtitle--white {
  color: #fff;
}

@media (max-width: 920px) {
  .cards {
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  .card {
    flex: 0 1 40%;
    margin: 0 15px;
  }
}
@media (max-width: 685px) {
  .cards {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  .card {
    margin: 0;
  }
}
.icon-tool-box,
.icon-shop {
  color: #0D5C63;
}

.icon-notebook {
  color: #fff;
}

.design {
  margin: 80px auto;
  background-color: #FAFAFA;
}
.design__header {
  margin: 0 0 50px 0;
}

.achievments__container {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;
  width: 100%;
  margin: 0 -15px;
}
.achievments__item {
  margin: 0 15px;
}

.achievment {
  width: 230px;
  height: 209px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
}
.achievment__container {
  margin: 30px 40px;
  padding: 0;
}
.achievment__icon {
  font-size: 48px;
  color: #0D5C63;
}
.advice {
  background-color: #FAFAFA;
}
.advice__container {
  padding: 80px 0;
}
.advices {
  width: 100%;
}
.advices__container {
  margin: 0 -15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.advice-card {
  max-width: 238px;
  margin: 0 15px;
  background-color: #fff;
}
.advice-card__header {
  margin: 30px;
}
.advice-card__title {
  margin: 0 0 15px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #17213C;
}
.advice-card__subtitle {
  color: #737373;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 1080px) {
  .advices__container {
    flex-wrap: wrap;
  }
}
.about {
  padding: 100px 0 135px 0;
  background-color: #FAFAFA;
}
.about__header {
  margin: 0 0 100px 0;
}

.about-main {
  width: 100%;
}
.about-main__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}
.about-main__video-conatiner {
  width: 597px;
  height: 442px;
}
.about-main__video {
  width: 100%;
  height: 100%;
}

@media (max-width: 1000px) {
  .about-main__video-conatiner {
    max-width: 597px;
    padding: 0 30px 0 0;
  }
}
@media (max-width: 822px) {
  .about-main__container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about-main__video-conatiner {
    max-width: 597px;
    padding: 0 15px;
  }
}
@media (max-width: 482px) {
  .about-main__video-conatiner {
    max-height: 350px;
  }
}
.about-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 328px;
  height: 438px;
}
.about-text__header {
  margin: 20px 0;
  text-align: left;
  align-items: flex-start;
}
.about-text__header p {
  text-align: left;
  margin: 10px 0 0 0;
}

.responses__item {
  margin: 30px 0 0 0;
}

.response {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.response__icon {
  font-size: 32px;
  color: #FF7B47;
  margin: 0 20px 0 0;
}
.response__header {
  text-align: left;
  align-items: flex-start;
  min-height: auto;
}
.response__title {
  margin: 0 0 5px 0;
}
.response__subtitle {
  text-align: left;
}

.clients__container {
  padding: 50px 25px;
}
.clients__list {
  margin: 0 -40px;
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}
.clients__item {
  margin: 0 40px;
}
.clients__bg {
  background-color: #FAFAFA;
  z-index: -1;
}
.clients__bg--dark {
  margin: 0;
  background-color: #252B42;
  height: 77px;
}

.subscribe {
  margin: 0 auto;
  min-height: 124px;
  max-width: 986px;
  background-color: #17213C;
  z-index: 50;
}
.subscribe__container {
  padding: 30px 50px;
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.subscribe__title {
  max-width: 266px;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.subscribe__form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.subscribe__input {
  height: 58px;
  width: 333px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 28px;
  color: #737373;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px 0 0 5px;
}
.subscribe__button {
  height: 60px;
  width: 117px;
  margin: 0;
  padding: 0;
  background-color: #FF7B47;
  color: #fff;
  border: 1px solid #E6E6E6;
  border-radius: 0px 5px 5px 0px;
}

@media (max-width: 880px) {
  .subscribe__container {
    padding: 16px 30px;
    flex-direction: column;
    align-items: center;
  }
  .subscribe__title {
    max-width: 100%;
    padding: 0 0 20px 0;
  }
}
@media (max-width: 546px) {
  .subscribe__title {
    max-width: 100%;
  }
  .subscribe__form {
    width: 100%;
  }
}
.contact {
  background-color: #fafafa;
  padding: 0 0 150px;
}
.contact__container {
  margin: 0 auto;
}
.contact__header {
  padding: 80px 0;
}
.contact__cards {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 984px;
}

.contact-card {
  background-color: #fff;
  flex: 0 1 33.333%;
}
.contact-card__inner {
  margin: 50px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}
.contact-card__inner--dark {
  margin: 80px 40px;
}
.contact-card__icon {
  font-size: 72px;
  color: #0D5C63;
}
.contact-card__icon--dark {
  color: #fff;
}
.contact-card__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-card__item {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}
.contact-card__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.contact-card__button {
  padding: 10px 20px;
  color: #FF7B47;
  border: 1px solid #FF7B47;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  text-align: center;
  letter-spacing: 0.2px;
}
.contact-card__button--dark {
  color: #FFFFFF;
  border: 1px solid #ffffff;
}
.contact-card--dark {
  background-color: #252B42;
  color: #fff;
}

.footer-main {
  background-color: #17213C;
  color: #FFFFFF;
  padding: 50px 0;
}
.footer-main__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}
.footer-column__header {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 20px 0;
  color: #FFFFFF;
}
.footer-column__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}
.footer-column__icon {
  font-size: 24px;
  color: #8EC2F2;
  margin: 0 10px 0 0;
}
.footer-column__item {
  color: #FFFFFF;
}

@media (max-width: 1080px) {
  .footer-column__header {
    margin: 0 0 4vh 0;
  }
  .footer-column {
    font-size: 1.5vw;
  }
  .footer-column__header {
    font-size: 1.5vw;
  }
  .footer-column__icon {
    font-size: 1.5vw;
  }
}
.footer-social {
  background-color: #FAFAFA;
  padding: 25px 0;
}
.footer-social__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.footer-social .signature {
  max-width: 322px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  text-align: center;
  letter-spacing: 0.2px;
}
.footer-social .signature__link {
  text-decoration: none;
  color: #0D5C63;
}
.footer-social .socials {
  max-width: 160px;
}
.footer-social .socials__list {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
}/*# sourceMappingURL=styles.css.map */